<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">

         <h2><i>CNSTN</i></h2>
            
            <p><b>Bienvenue sur le site du Centre National des Sciences et Technologies Nucléaires.</b></p>
            
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Menu —</h4>
            <div class="col-md-6">
                <ul class="pages">
                    <li><a href="#">Le Cnstn</a></li>
                    <li><a href="#">coopération</a></li>
                    <li><a href="#">actualités</a></li>
                    <li><a href="#">publication</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="pages">
                    <li><a href="#">bibliothèque</a></li>
                    <li><a href="#">le nucléaire</a></li>
                    <li><a href="#">lien utlies</a></li>
                    <li><a href="#">contacts</a></li>
                 
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>contact </h4>
            <ul>
                <li><a href="#">Facebook</a></li>
              
                <li><a href="#">Pôle Technologique - 2020 Sidi Thabet BP 72 </a></li>
                <li><a href="#">Tél. : +216 71 537 544 / 71 537 410</a></li>
                <li><a href="#">Fax : +216 71 537 555 </a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Rechercher sur ce site</h4>
            
            <p>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                  </span>
                </div><!-- /input-group -->
             <p>
        </div>
    </div>
</footer>