
<div style="text-align:center">
  <h2>album du CNSTN</h2>
  <p>Click on the images below:</p>
</div>

<!-- The four columns -->
<div class="row">
  <div class="column">
    <img src="assets/images/7.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="assets/images/2.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="assets/images/3.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="assets/images/4.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div>
<!-- 
  <div class="column">
    <img src="assets/images/6.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="assets/images/7.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="assets/images/8.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div>


  <div class="column">
    <img src="assets/images/9.jpg" alt="CNSTN" style="width: 300px;height: 250;" onclick="myFunction(this);">
  </div> -->
</div>


<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

